<div id="about" class="row tag">
    <div class="col-xs-12">
        <h1>About Us</h1>
        <h4>The Stony Brook Computing Society is a student organization at Stony
            Brook University for all that are interested in programming, computers,
            and related technology. We hold a GBM every week and organize a
            variety of events focused on academics,
            professional development, and community building.
        	Make sure to check down below for future events!
        </h4>
    </div>
</div>
