<div id="connect" class="row tag">
    <div class="col-xs-12">
        <h1>Connect with Us</h1>
        <div class="row connect-online">
            <div class="col-xs-12 col-sm-4">
                <a href="//www.facebook.com/groups/sb.computing/"
                   target="_blank">

                    <img class="img-responsive connect-icon"
                         src="/images/facebook.png"
                         alt="Facebook logo"/></a>
                <h2><a href="//www.facebook.com/groups/sb.computing/"
                       target="_blank">Facebook Group</a></h2>
                <p>With over 3000 members, our group is always active.</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a href="{{ site.sbcs-mailing-list }}" target="_blank"><img
                        class="img-responsive connect-icon" src="/images/mailchimp.png"
                        alt="Mailchimp logo"/>
                </a>

                <h2><a href="{{ site.sbcs-mailing-list }}" target="_blank">Mailing List</a></h2>
                <p>Sign up to receive weekly emails about upcoming
                    events.2</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a href="{{ site.sbcs-google-calendar }}"
                   target="_blank">
                    <img class="img-responsive connect-icon"src="/images/gcal.png" alt="Google calendar logo"/>
                </a>
                <h2>
                    <a href="{{ site.sbcs-google-calendar }}"   target="_blank">Google Calendar</a></h2>
                <p>Subscribe and sync all of our events with your
                    calendar.</p>
            </div>

            <div class="col-xs-12 col-sm-4">
                <a href="{{ site.sbcs-slack }}" target="_blank"><img
                        class="img-responsive connect-icon" src="/images/slack.png"
                        alt="Slack logo"/></a>
                <h2><a href="{{ site.sbcs-slack }}"
                       target="_blank">Slack Team</a></h2>
                <p>Join Slack for private and group instant messaging.</p>
            </div>
        </div>
    </div>
</div>