<div id="contact" class="row tag">
    <div class="col-xs-12">
        <h1>Contact Us</h1>
        We are always open to collaborating with companies and clubs interested
        in reaching our members.
        <br>
        Feel free to reach out at our email: {{ site.sbcs-email }}.
        <h2>Interested in Sponsoring our Events?</h2>
        We are currently seeking sponsors for the Fall 2017 semester. Please
        reach out to us and email us, {{ site.sbcs-email }} for more information
        about our sponsorship packages.
    </div>
</div>
