<div id="eboard" class="row tag officers">
    <div class="col-xs-12">
        <h1>Executive Board</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/rahul.jpg" alt="Rahul Sondhi,  President"/>
                <h3>Rahul Sondhi</h3>
                <h4>President</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/isabelle.jpg" alt="Isabelle Greenberg, Vice President"/>
                <h3>Isabelle Greenberg</h3>
                <h4>Vice President</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/khurram.jpg" alt="Khurram Hanif, Treasurer"/>
                <h3>Khurram Hanif</h3>
                <h4>Treasurer</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/yang.jpg" alt="Yang Yang, Secretary"/>
                <h3>Yang Yang</h3>
                <h4>Secretary</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/lisa.jpg" alt="Lisa Zheng, Branding Manager"/>
                <h3>Lisa Zheng</h3>
                <h4>Social Media Manager</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/ish.jpg" alt="Ish Haque, Community Chair"/>
                <h3>Ish Haque</h3>
                <h4>Community Chair</h4>
            </div>
            <div class="col-xs-6 col-sm-6">
		    <img class="img-responsive" src="/images/eboard/john.jpg" alt="John Adam, Branding Manager">
		    <h3>John Adam</h3>
		    <h4>Branding Manager</h4>
	    </div>
        </div>
    </div>
</div>
