<div id="eboard" class="row tag officers">
    <div class="col-xs-12">
        <h1>Executive Board</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/isabelle_greenberg.jpg" alt="Isabelle Greenberg, President"/>
                <h3>Isabelle Greenberg</h3>
                <h4>President</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/ishabul_haque.jpg" alt="Ishabel Haque, Vice President"/>
                <h3>Ishabul Haque</h3>
                <h4>Vice President</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/rohan_dayal.jpg" alt="Rohan Dayal, Treasurer"/>
                <h3>Rohan Dayal</h3>
                <h4>Treasurer</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/everett_yang.png" alt="Everett Yang, Secretary"/>
                <h3>Everett Yang</h3>
                <h4>Secretary</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/lisa_zheng.jpg" alt="Lisa Zheng, Branding Manager"/>
                <h3>Lisa Zheng</h3>
                <h4>Social Media Manager</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/nayan_pasari.jpg" alt="Nayan Pasari, Community Chair"/>
                <h3>Nayan Pasari</h3>
                <h4>Community Chair</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" style="width:260px;height:260px" src="/images/eboard_2020S/britney_echeverria.png" alt="Britney Echeverria, Webmaster"/>
                <h3>Britney Echeverria</h3>
                <h4>Webmaster</h4>
            </div>
	    </div>
        </div>
    </div>
</div>
