<div id="eboard" class="row tag officers">
    <div class="col-xs-12">
        <h1>Executive Board</h1>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/lise2.jpg" alt="Lise Ho,  President"/>
                <h3>Lise Ho</h3>
                <h4>President</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/rahul2.jpg" alt="Rahul Sondhi, Vice President"/>
                <h3>Rahul Sondhi</h3>
                <h4>Vice President</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/joe.jpeg" alt="Joseph Wilson, Treasurer"/>
                <h3>Joseph Wilson</h3>
                <h4>Treasurer</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/kamile.jpg" alt="Kamile Demir, Secretary"/>
                <h3>Kamile Demir</h3>
                <h4>Secretary</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/brianna.jpg" alt="Brianna Florio, Public Relations Officer"/>
                <h3>Brianna Florio</h3>
                <h4>Public Relations Officer</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <img class="img-responsive" src="/images/eboard/yang.jpg" alt="Yang Yang, Community Liason"/>
                <h3>Yang Yang</h3>
                <h4>Community Liaison</h4>
            </div>
        </div>
    </div>
</div>
