<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<h1>Connect Online</h1>
				<ul>
					<li><a href="{{ site.sbcs-facebook }}" target="_blank">Facebook Group</a></li>
					<li><a href="{{ site.sbcs-mailing-list }}" target="_blank">Mailing List</a></li>
					<li><a href="{{ site.sbcs-google-calendar }}" target="_blank">Google Calendar</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<h1>Contact Us</h1>
				<ul>
					<li><a href="mailto:{{ site.sbcs-email }}">{{ site.sbcs-email }}</a></li>
					<li><a href="{{ site.sbcs-slack }}" target="_blank">Slack Team</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 hidden-sm hidden-xs"></div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h1>Powered By Bytes</h1>
                <img id="footer-bytes" src="/images/sbcs_assets/hackbytes.png">
            </div>
		</div>
	</div>
</footer>