<div id="sponsors" class="row tag">
    <div class="col-xs-12">
        <h1>Sponsors</h1>
        <div>SBCS is proudly sponsored by the following companies:</div>
        <div style="text-align:center">
            <img class="sponsor-logo-img" src="images/sponsors/softheon_logo.png"/>
        </div>
        <h2>Interested in Becoming our Sponsor?</h2>
        We are currently seeking sponsors for the 2018-2019 academic year.
        <br> Please reach out to us at our email, {{ site.sbcs-email }}, for more information about our sponsorship options.
    </div>
</div>
