<div id="upcoming" class="row tag">
    <div class="col-xs-12">


      <h1>Upcoming Events</h1>

      <iframe src="https://calendar.google.com/calendar/embed?src=qis6pvui62sql87lc7d1aarm6g%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <!--
        <h1>Upcoming Events</h1>
        <div class="row">
            {% for apost in site.posts reversed %}

            // for now temporarily assume only max two posts
            //TODO: make this dynamic and get a scroll bar for all events please
            <div class="col-xs-6">
                <div class="aevent">
                    {% if apost.image != null %}
                    <img style="max-width:95%" src=" {{ apost.image }}"
                         alt="{{ apost.image_alt }}"/>
                    {% endif %}
                    <h3>{{ apost.title }}</h3>

                    <h2>When: {{ apost.event_date }}</h2>
                    {% if apost.link != null %}
                    <h4>RSVP: <a href="{{ apost.link }}">{{ apost.link }}</a>
                    </h4>
                    {% endif %}
                    <h4>{{ apost.description }}</h4>
                    &nbsp
                    <div class="col-xs-6 col-sm-3">
                    </div>
                </div>
            </div>


            {% endfor %}

        </div>
        -->
    </div>
</div>
